@model ICollection<AuthenticationClientData>

@if (Model.Count == 0)
{
    <div class="message-info">
		<p>
			Username 'email', password 'sha256'
		</p>
		<p>
			Username 'asd', password 'qwe123'
		</p>
    </div>
}
else
{
    using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }))
    {
    @Html.AntiForgeryToken()
    <fieldset id="socialLoginList">
        <legend>Available user accounts for this demonstration</legend>
        <p>
        @foreach (AuthenticationClientData p in Model)
        {
            <button type="submit" name="provider" value="@p.AuthenticationClient.ProviderName" title="Log in using your @p.DisplayName account">@p.DisplayName</button>
        }
        </p>
    </fieldset>
    }
}
